<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29863137632-mge243jtfgp8mfnlcfudfqa4ajeotm3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29863137632-mge243jtfgp8mfnlcfudfqa4ajeotm3u</string>
	<key>API_KEY</key>
	<string>AIzaSyC2IO71di983TszSI7hVc-KJGxc7vjcNvU</string>
	<key>GCM_SENDER_ID</key>
	<string>29863137632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rhst</string>
	<key>PROJECT_ID</key>
	<string>rhst-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rhst-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29863137632:ios:abedd70fc1d851c83a8e05</string>
</dict>
</plist>